<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110605353949-7grqf4m7fms8bet5ckj56qjtc4phbutu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110605353949-7grqf4m7fms8bet5ckj56qjtc4phbutu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110605353949-3j29kkmeevm0leoco8bml8dbsf6dikiu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAuZy54IwTANp4vAfwOaECQbZ_fI_-MIk</string>
	<key>GCM_SENDER_ID</key>
	<string>110605353949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pryzl.pryzlmobileapp</string>
	<key>PROJECT_ID</key>
	<string>pryzl-281004</string>
	<key>STORAGE_BUCKET</key>
	<string>pryzl-281004.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110605353949:ios:bd098abc3edc67b6562c34</string>
	<key>DATABASE_URL</key>
	<string>https://pryzl-281004.firebaseio.com</string>
</dict>
</plist>